.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  inline-size: 300px;
} 

.buttonSubmit {
  inline-size: 300px;
  block-size: 40px;
  border-radius: 50rem;
  font-weight: 800;
  border: 3px solid #000;
  background-color: var(--button-send-color);
  transition: background-color 0.2s ease-out;
} 

.buttonSubmit:hover {
  background-color: var(--button-send-hover-color);
}

.formError {
  display: block;
  min-block-size: 20px;
  text-align: center;
  color: rgba(255, 0, 0, 0.667)
}