:root {
  --input-window-inline-size: clamp(22.5rem, 4.014rem + 78.873vw, 75rem);
  --input-window-flex-direction: row;
  --input-window-background-color: rgb(56, 56, 56);
  --form-value-background-color: rgb(203, 203, 203);
  --button-load-file-background-color: rgb(255, 229, 98);
  --button-load-file-background-color-choose: rgb(255, 174, 0);
  --file-loader-drag-over-border-color: rgb(255, 213, 0);
  --delete-file-button-background-hover: rgb(255, 126, 126);
  --form-error-color: rgba(255, 0, 0, 0.534);
  --button-reset-background-color: rgb(100, 100, 100);
  --button-reset-background-hover: rgb(70, 70, 70); 
  --input-font-color: white;
  --header-container-background-color: rgb(56, 56, 56);
  --header-navigation-background-color: rgb(255, 213, 0);
  --header-navigation-text-color: black;
  --header-main-text-color: rgb(225, 187, 0);
  --button-send-color: white;
  --button-send-hover-color: rgb(164, 164, 164);
  --image-field-border-radius: 10px;
  --header-border-radius: 25px;
  --footer-background-color: rgb(36, 36, 36);
  --footer-text-about: rgb(177, 177, 177);
  --result-container-background-color: white;
}
