:root {
  --input-window-inline-size: clamp(22.5rem, 4.014rem + 78.873vw, 75rem);
  --input-window-flex-direction: row;
  --input-window-background-color: rgb(220, 220, 220);
  --form-value-background-color: rgb(203, 203, 203);
}
