.fileLoaderContainer {
  
}

.fileLoaderInput {

}

.fileLoaderButton {
  inline-size: 100%;
  block-size: 40px;
  border-radius: 50rem;
  background-color: rgb(186, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-overflow: ellipsis;
}

.currentFile {

}