.fileLoaderContainer {
  display: flex;
  flex-direction: column;
  gap:10px;
}

.fileLoaderInput {

}

.fileLoaderButton {
  width: 300px;
  block-size: 40px;
  border-radius: 50rem;
  padding: 15px;
  background-color: var(--button-load-file-background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: background-color 0.3s ease-in-out;
}

.fileLoaderButton:hover {
  background-color: var(--button-load-file-background-color-choose);
}

.fileDeleteButton {
  width: 100px;
  block-size: 30px;
  background-color: white;
  border-radius: 50rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s ease-out;
}

.fileDeleteButton:hover {
  background-color: var(--delete-file-button-background-hover);
}

.currentFile {

}

.buttonText {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  white-space: nowrap;
}